In [132]:
import numpy
import pandas as pd
import os

In [133]:
# access data/metadata from sensors 
coords_df = pd.read_csv('/Users/emilyzhao/li-sound/data/used/coords.csv', low_memory=False)
nutrients_df = pd.read_csv('/Users/emilyzhao/li-sound/data/used/quality-nutrients.csv', low_memory=False)

In [134]:
# add in coordinates

nutrients_df['LAT'] = ''
nutrients_df['LON'] = ''

for i in nutrients_df['STATION_ID']:
    for x in coords_df['STATION_ID']:
        if i == x:
            nutrients_df.loc[nutrients_df['STATION_ID'] == i, 'LAT'] = coords_df.loc[coords_df['STATION_ID'] == i, 'LATITUDE DD'].values[0]
            nutrients_df.loc[nutrients_df['STATION_ID'] == i, 'LON'] = coords_df.loc[coords_df['STATION_ID'] == i, 'LONGITUDE DD'].values[0]

In [141]:
nutrients_df

,ID,RECORD_ID,DATE_STATION_LINK,DATE,YEAR,MONTH,TIME_24H,STATION_ID,DEPTH_M,CLASS,...,PREV_24_H_RAIN,PREV_48_H_RAIN,TIDE_TIME_NR,TIDE_RANGE_FT_NR,TIDE_TYPE_NR,TIDE_TIME_KP,TIDE_RANGE_FT_KP,TIDE_TYPE_KP,LAT,LON
0,1,A1_07/25/91_08:10_1.0,07/25/1991_A1,07/25/91 00:00:00,1991,7,08:10,A1,1.0,Surface,...,ND,ND,ND,ND,NaN,ND,ND,NaN,40.803333,-73.826667
1,2,A1_07/25/91_08:16_26.0,07/25/1991_A1,07/25/91 00:00:00,1991,7,08:16,A1,26.0,Bottom,...,ND,ND,ND,ND,NaN,ND,ND,NaN,40.803333,-73.826667
2,3,A2M_07/25/91_08:28_1.0,07/25/1991_A2M,07/25/91 00:00:00,1991,7,08:28,A2M,1.0,Surface,...,ND,ND,ND,ND,NaN,ND,ND,NaN,40.801667,-73.783333
3,4,A2M_07/25/91_08:30_35.0,07/25/1991_A2M,07/25/91 00:00:00,1991,7,08:30,A2M,35.0,Bottom,...,ND,ND,ND,ND,NaN,ND,ND,NaN,40.801667,-73.783333
4,5,A3_07/25/91_08:50_1.0,07/25/1991_A3,07/25/91 00:00:00,1991,7,08:50,A3,1.0,Surface,...,ND,ND,ND,ND,NaN,ND,ND,NaN,40.841667,-73.755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18918,18936,A2M_02/22/18_08:30_35.0,02/22/2018_A2M,02/22/18 00:00:00,2018,2,08:30,A2M,35.0,Bottom,...,test,test,test,test,test,test,test,test,40.801667,-73.783333
18919,18937,A1_06/01/18_08:10_1.0,06/01/2018_A1,06/01/18 00:00:00,2018,2,08:10,A1,1.0,Surface,...,test,test,test,test,test,test,test,test,40.803333,-73.826667
18920,18938,A1_06/02/18_08:16_26.0,06/02/2018_A1,06/02/18 00:00:00,2018,2,08:16,A1,26.0,Bottom,...,test,test,test,test,test,test,test,test,40.803333,-73.826667
18921,18939,A2M_06/03/18_08:28_1.0,06/03/2018_A2M,06/03/18 00:00:00,2018,2,08:28,A2M,1.0,Surface,...,test,test,test,test,test,test,test,test,40.801667,-73.783333
18922,18940,A2M_06/04/18_08:30_35.0,06/04/2018_A2M,06/04/18 00:00:00,2018,2,08:30,A2M,35.0,Bottom,...,test,test,test,test,test,test,test,test,40.801667,-73.783333

In [139]:
# return by surface/botttom

def depth_data(df, depth):

    if depth == 'surface':
        filtered = df[df['CLASS'] == 'Surface']
    elif depth == 'bottom':
        filtered = df[df['CLASS'] == 'Bottom']

    final = pd.DataFrame()
    #final['DATE'] = pd.to_datetime(filtered['DATE'])
    final['DATE'] = filtered['DATE']
    final['STATION_ID'] = filtered['STATION_ID']
    final['CLASS'] = filtered['CLASS']
    final['DEPTH_M'] = filtered['DEPTH_M']
    final['DISSOLVED_OXYGEN_MG_L'] = pd.to_numeric(filtered['DISSOLVED_OXYGEN_MG_L'], errors='coerce')
    final['TEMPERATURE_C'] = pd.to_numeric(filtered['TEMPERATURE_C'], errors='coerce')
    final['SALINITY'] = pd.to_numeric(filtered['SALINTY_PSU'], errors='coerce')
    final['LON'] = pd.to_numeric(filtered['LON'], errors='coerce')
    final['LAT'] = pd.to_numeric(filtered['LAT'], errors='coerce')
    
    return final

In [144]:
surface = depth_data(nutrients_df, 'surface')
bottom = depth_data(nutrients_df, 'bottom')

In [142]:
surface.dtypes

DATE                      object
STATION_ID                object
CLASS                     object
DEPTH_M                  float64
DISSOLVED_OXYGEN_MG_L    float64
TEMPERATURE_C            float64
SALINITY                 float64
LON                      float64
LAT                      float64
dtype: object

In [138]:
surface.to_csv('processed-surface.csv')